@import url("https://fonts.googleapis.com/css2?family=Gwendolyn&family=Mulish:wght@200&family=Petemoss&family=Poppins:wght@300;400&family=Rubik&family=Work+Sans:wght@300&display=swap");
* {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
	outline: none;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 10px;
	background: lightgray;
	box-shadow: inset 0 0 5px #333;
}
::-webkit-scrollbar-thumb {
	background: #888;
}

body {
	color: #333;
	display: block;
	min-width: 100vw;
	min-height: 100vh;
	font-family: "Mulish", sans-serif;
	-webkit-font-smoothing: antialiased;
	-ms-content-zooming: grayscale;
	overflow-x: hidden;
	position: relative;
}

#olm_vjp_pro_by_hoangyuri {
	width: 100%;
	min-height: 100vh;
	display: block;
	padding-top: 10vh;
	font-weight: bold;
}

.carousel-root {
	user-select: none;
}

a {
	color: #333;
}

img {
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.Toastify {
	position: absolute;
}

.Toastify__toast-container {
	z-index: 9999 !important;
}

.Toastify__toast-container * {
	font-family: "Mulish", sans-serif;
}

.style_captchaContainer__LdFYB {
	width: 100%;
}

.style_captchaContainer__LdFYB canvas {
	width: 100%;
}

.chi_don_gian_la_animation_element\._\. {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}
